---
layout: default
title: Gallery
permalink: /gallery/
published: true
---

<!--finds images inside art_design, assigns original sized image to the
    <a href> link and then replaces any string 'full' in filename with 'thumb'
    to properly retrieve thumbnail image for display.
-->

<div class="image_gallery">
    {% for image in site.static_files  %}
        {% if image.path contains 'images/gallery/art_design' %}
            {% unless image.path contains '_thumb' %}
                <a href="{{ image.path }}">
                    <img src="{{ image.path | replace: 'full', 'thumb' }}" alt="">
                </a>
            {% endunless %}
        {% endif %}
    {% endfor %}
</div>

<!-- todo - add clickable images that link to the fullsized image. -->